<router-outlet></router-outlet>

                    <!-- <div class="Interest_Interest__1nrKb">
                        <div class="card mb-3 text-center Interest_web__34oC7">
                            !-- <div class="card-header">APP DEVELPOMENT</div> --
                            <div class="card-body">
                                <h5 class="card-title">APP DEVELPOMENT</h5>
                                <p class="card-text">I also have knowledge of flutter development and have
                                    experience in building android and
                                    IOS applications. I also have
                                    live app published on Google Play Store.</p>
                            </div>
                        </div>
                    
                        <div class="card mb-3 text-center Interest_app__bEJ73">
                            !-- <div class="card-header">Header</div> --
                            <div class="card-body">
                                <h5 class="card-title">WEB DEVELPOMENT</h5>
                                <p class="card-text">I am a full stack web developer(MERN) and build
                                    websites using HTML, CSS, Javascript, ReactJs.
                                    I have also good grasp on Node and NoSQL(MongoDb)</p>
                            </div>
                        </div>
                    
                        <div class="card mb-3 text-center Interest_other__2P7kx">
                            !-- <div class="card-header">Header</div> --
                            <div class="card-body">
                                <h5 class="card-title">OTHER'S INTEREST</h5>
                                <p class="card-text">I also have decent hand in developing website with
                                    WordPress.
                                    C++, Github are my other fields of interest. Currently, I am investing
                                    my free time in Web3.js</p>
                            </div>
                        </div>
                    </div> -->