          .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
          }

          @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                  font-size: 3.5rem;
              }
          }

          body {
              font-size: .875rem;
          }

          .feather {
              width: 16px;
              height: 16px;
              vertical-align: text-bottom;
          }

          /* Sidebar*/

          .sidebar {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              z-index: 100;
              /* Behind the navbar */
              padding: 0;
              /* Height of navbar */
              box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
          }

          @media (max-width: 767.98px) {
              /* .sidebar {
                  top: 5rem;
              } */

              .carousel-img {
                  height: 105vh;
              }

          }

          .sidebar-sticky {
              position: relative;
              top: 0;
              height: calc(100vh - 48px);
              padding-top: .5rem;
              overflow-x: hidden;
              overflow-y: auto;
              /* Scrollable contents if viewport is shorter than content. */
          }

          .sidebar .nav-link {
              font-weight: 500;
              color: #333;
          }

          .sidebar .nav-link .feather {
              margin-right: 4px;
              color: #727272;
          }

          .sidebar .nav-link.active {
              color: #007bff;
          }

          .sidebar .nav-link:hover .feather,
          .sidebar .nav-link.active .feather {
              color: inherit;
          }

          .sidebar-heading {
              font-size: .75rem;
              text-transform: uppercase;
          }

          /*Navbar*/
          .navbar-brand {
              padding-top: .75rem;
              padding-bottom: .75rem;
              font-size: 1rem;
              background-color: rgba(0, 0, 0, .25);
              box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
          }

          .navbar .navbar-toggler {
              top: .25rem;
              right: 1rem;
          }

          .navbar .form-control {
              padding: .75rem 1rem;
              border-width: 0;
              border-radius: 0;
          }

          .form-control-dark {
              color: #fff;
              background-color: rgba(255, 255, 255, .1);
              border-color: rgba(255, 255, 255, .1);
          }

          .form-control-dark:focus {
              border-color: transparent;
              box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
          }

          .position-sticky {
              height: 100%;
              width: 100%;
              background-color: #f2f3f7;
              overflow-y: scroll;
              text-align: center;
          }

          .rounded-circle {

              width: 120px;
              height: 120px;
              border-radius: 50%;
              margin-top: 10px;
          }

          .h1_links {
              text-decoration: none;
              font-family: Aclonica, sans-serif;
              font-size: 32px;
          }

          .mail {
              color: black;
              font-weight: bold;

              margin-top: 20px;
              text-align: center;
              font-size: 15px;
              margin-bottom: 1rem;
          }

          p {
              display: block;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
          }

          .link {
              text-decoration: none;
              font-family: Comfortaa, cursive;
              color: #000;
              font-size: larger;
              line-height: 1.4rem;
          }

          .main {
              padding: 0 !important;
          }

          #carouselExampleFade {
              margin-bottom: 3em;
          }

          .carousel-caption {
              text-align: end;
              height: auto !important;
              word-break: break-all;
          }

          .carousel-caption h5 {
              font-size: 2em;
              margin-bottom: .5rem;
              font-weight: 700;
              line-height: 1.5em;
              word-spacing: 5px;
              font-family: Permanent Marker, cursive;
              color: #000;
          }

          .projects {
              width: 230px;
              margin: 50px auto 0;
              text-align: center;
              font-weight: 700;
              font-family: Permanent Marker, cursive;
              /* -webkit-animation-name: CarouselImages_text__1lDBD;
              animation-name: CarouselImages_text__1lDBD;
              -webkit-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
              /* position: relative;
              top: 20px;
              left: 80px; */
              color: hsla(0, 0%, 100%, .8);
              padding: 11px 24px;
              box-shadow: 0 10px 30px 0 rgba(21, 10, 82, .35);
              border-radius: 22px;
              background-image: -webkit-gradient(linear, right top, left top, from(rgba(75, 19, 79, .8)), to(rgba(201, 75, 75, .6)));
              background-image: linear-gradient(270deg, rgba(75, 19, 79, .8), rgba(201, 75, 75, .6));
          }

          .projects a,
          .cv a {
              font-size: 1.1rem;
          }


          .project-wrapper .carousel-caption {
              width: 19em !important;
          }

          .cv-wrapper h5 {
              color: hsla(0, 0%, 100%, .8);
              text-align: center;
          }

          .cv {
              width: 150px;
              margin: 25px auto 0;
              font-family: Permanent Marker, cursive;
              /* -webkit-animation-name: CarouselImages_text__1lDBD;
              animation-name: CarouselImages_text__1lDBD;
              -webkit-animation-duration: 1s;
              animation-duration: 1s;
              -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out; */
              color: hsla(0, 0%, 100%, .8);
              padding: 11px 24px;
              box-shadow: 0 10px 30px 0 rgba(21, 10, 82, .35);
              border-radius: 22px;
              background-image: -webkit-gradient(linear, right top, left top, from(rgba(75, 19, 79, .8)), to(rgba(201, 75, 75, .6)));
              background-image: linear-gradient(270deg, rgba(75, 19, 79, .8), rgba(201, 75, 75, .6));
          }

          .sec {

              display: inline-block;
              color: #555;
              margin-bottom: 20px;
              font-size: 11px;
          }

          .sec,
          .intro {
              padding: 0 12px;
              margin-left: 30px;
              letter-spacing: 5px;
          }

          .intro {
              font-size: 18px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 1.8;

          }

          .desp {
              margin-left: 20px;
              padding: 20px;
              font-size: 15px;

          }

          .Interest_Interest__1nrKb {
              width: 95%;
          }

          b {
              font-weight: bolder;
          }

          .Interest_web__34oC7 {
              height: 100%;
              border: 1px #000;
              border-bottom: 2px solid #2c98f0;
              text-align: center;
              padding: 1.2rem;
              box-shadow: 0 0 56px -8px rgba(0, 0, 0, .17);
          }

          div>p {
              font-size: 15px;
          }

          p {
              color: rgba(0, 0, 0, .7);
              font-weight: 400;
              margin-bottom: 1rem;
          }

          .Interest_app__bEJ73,
          .Interest_other__2P7kx {
              height: 100%;
              text-align: center;
              box-shadow: 10px 10px 20px #f4f1f1;
              padding: 1.2rem;
          }

          .Interest_app__bEJ73 {
              border: 1px #000;
              border-bottom: 2px solid #f9bf3f;
              position: relative;
              top: -20px;
          }

          .Interest_other__2P7kx {
              border: 1px #000;
              border-bottom: 2px solid #2fa499;
          }

          .my-wrapper {
              display: flex;
              width: 100%;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              overflow: hidden;
              word-break: break-all;
          }

          .edu-wrapper {
              margin-bottom: 10px;
              clear: both;
          }

          .Education_timeline_icon_5__1jvkG {
              background: #0ff;
          }

          .Education_timeline_icon__3fqWJ {
              display: block;
              width: 40px;
              font-size: 20px;
              height: 40px;
              background-color: #f9bf3f;
              border-radius: 50%;
              text-align: center;
              box-shadow: 0 0 0 5px #f2f3f7;
              line-height: 35px;
              float: left;
          }

          .Education_label__WMsfh {
              position: relative;
              background: #f2f3f7;
              padding: 1.5em;
              margin-left: 60px;
          }

          .Education_label__WMsfh a {
            color: #000;
          }

          .Education_label__WMsfh h2 {
              font-size: 20px;
              font-family: Quicksand, Arial, sans-serif;
              font-weight: 500;
              margin: 0 0 30px;
              color: #000;
          }

          .Education_label__WMsfh h2 span {
              -webkit-opacity: .4;
              -moz-opacity: .4;
              opacity: .4;
              -ms-filter: alpha(opacity=40);
              filter: alpha(opacity=40);
              font-size: 16px;
          }

          .Education_label__WMsfh p {
              margin-bottom: 1.5em;
          }

          .animated {
              visibility: visible !important;
          }

          .hide-on-init {
              visibility: hidden;
          }
          .vr {
            width: 3px;
            opacity: .1;
          }