<!-- <div class="container-fluid px-0" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-12"> -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <!-- <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Company name</a> -->
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search"
                    aria-label="Search"> -->
    <!-- <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                </ul> -->
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column mx-auto flex-md-wrap">
                    <li class="nav-item" style="color: black; font-weight: bold;">
                        <span data-feather="home"></span>
                        # programmer_life
                    </li>
                    <li class="nav-item" style="color: black; font-weight: bold;">
                        <span data-feather="file"></span>
                        # hello_world
                    </li>
                    <li class="nav-item" style="color: black; font-weight: bold;">
                        <span data-feather="shopping-cart"></span>
                        # Coding
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1">
                    <h1>
                        <a class="link-secondary h1_links" href="#" aria-label="Add a new report">
                            Matthew God'stime
                        </a>
                    </h1>
                </h6>
                <div class="my-wrapper">
                    <ul class="nav flex-column mb-2 ">
                        <li class="nav-item">
                            <img src="../../assets/images/IMG_20211127_105321_625.jpg" class="rounded-circle" alt="...">
                        </li>
                        <li class="nav-item mail">
                            <a class="nav-link" href="mailto:matthewgodstime8585@gmail.com">
                                <p>matthewgodstime8585@gmail.com</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#">
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#">
                                Education
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link" href="#">
                                Interest
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/Matthew-Godstime">
                                <i class="bi bi-github" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                                href="https://www.linkedin.com/in/matthew-god-stime-14b03223a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLpl0hYWIR5Wb1LhPro2YGw%3D%3D">
                                <i class="bi bi-linkedin" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-twitter" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-instagram" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:matthewgodstime8585@gmail.com">
                                <i class="bi bi-envelope-fill" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-facebook" style="color: red; font-size: 1.33333333em;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-9 main">
            <!-- <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Dashboard</h1>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>
                        </div> -->

            <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators doy">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="../../assets/images/Pencil.38828042.jpg" class="d-block w-100" alt="...">
                        <div class="project-wrapper">
                            <div class="carousel-caption d-none d-md-block">
                                <h5><i>I LOVE BUILDING THINGS!!</i></h5>
                                <p class="projects"><a routerLink="/projects">VIEW PROJECTS</a><svg
                                        stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 15 16"
                                        height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 12h3V2h-3v10zm-4-2h3V2H6v8zm-4 4h3V2H2v12zm-1 1h13V1H1v14zM14 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z">
                                        </path>
                                    </svg></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="../../assets/images/Hello.ce9b13e5.jpg" class="d-block w-100" alt="...">
                        <div class="cv-wrapper">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>I'm God'stime</h5>
                                <p class="cv">
                                    <a href="https://drive.google.com/file/d/1jcmNZIV6eo4HRyV-JI7cWxWmF_TQfQZi/view?usp=sharing"
                                        rel="opener noreferrer" target="_blank">VIEW CV <svg stroke="currentColor"
                                            fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-143.6-28.9L288 302.6V120c0-13.3-10.7-24-24-24h-16c-13.3 0-24 10.7-24 24v182.6l-72.4-75.5c-9.3-9.7-24.8-9.9-34.3-.4l-10.9 11c-9.4 9.4-9.4 24.6 0 33.9L239 404.3c9.4 9.4 24.6 9.4 33.9 0l132.7-132.7c9.4-9.4 9.4-24.6 0-33.9l-10.9-11c-9.5-9.5-25-9.3-34.3.4z">
                                            </path>
                                        </svg></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <section>
                    <div class="about">
                        <span class="sec">ABOUT ME</span>
                        <h2 class="intro">WHO AM I?</h2>
                        <p class="desp">My name is <b>Matthew God'stime</b> and I am currently working as
                            Software Developer Engineer at Springworks. I
                            completed my degree
                            in Bachelor of Technology in Computer Science and Engineering from Sant Longowal
                            Institute of Engineering
                            and
                            Technology. I am much interested in developing new things which excite me a lot.
                            :)</p>
                        <p class="desp">I love exploring new technologies and being a practitioner, I like
                            to stay on top of latest trends. I try to
                            leave every
                            line of code I write more readable, accessible, and modular.</p>
                    </div>

                    <div class="experties"></div>
                    <span class="sec">WHAT DO I DO</span>
                    <h2 class="intro">HERE ARE SOME OF MY EXPERTISE</h2>

                    <div class="row Interest_Interest__1nrKb mx-auto">
                        <div class="col-sm col-md-9 col-lg-4 mx-auto py-5">
                            <div class="card mb-3 text-center Interest_web__34oC7">
                                <div class="card-body">
                                    <h5 class="card-title">APP DEVELPOMENT</h5>
                                    <p class="card-text">I also have knowledge of flutter development and have
                                        experience in building android and
                                        IOS applications. I also have
                                        live app published on Google Play Store.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-md-9 col-lg-4 mx-auto py-5">
                            <div class="card mb-3 text-center Interest_app__bEJ73">
                                <div class="card-body">
                                    <h5 class="card-title">WEB DEVELPOMENT</h5>
                                    <p class="card-text">I am a full stack web developer(MERN) and build
                                        websites using HTML, CSS, Javascript, ReactJs.
                                        I have also good grasp on Node and NoSQL(MongoDb)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm col-md-9 col-lg-4 mx-auto py-5">
                            <div class="card mb-3 text-center Interest_other__2P7kx">
                                <div class="card-body">
                                    <h5 class="card-title">OTHER'S INTEREST</h5>
                                    <p class="card-text">I also have decent hand in developing website with
                                        WordPress.
                                        C++, Github are my other fields of interest. Currently, I am investing
                                        my free time in Web3.js</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        
                    </div>

                </section>
            </div>
        </main>
    </div>
</div>




<!-- </div>
    </div>
</div> -->